@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'satoshi.css';

* {
  cursor: none !important;
}

body {
  @apply bg-neutral-50  selection:bg-slate-900/40;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes circularReveal {
  from {
    clip-path: circle(0% at 0% 50%);
  }
  to {
    clip-path: circle(150% at 100% 50%);
  }
}

.circularRevealImage {
  animation: circularReveal 3s forwards; /* Adjust duration as needed */
}
