@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'satoshi.css';

* {
  cursor: none;
}

body {
  @apply bg-neutral-50  selection:bg-slate-900/40;
}

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}
