@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'satoshi.css';

/* * {
  cursor: none;
} */

body {
  @apply bg-neutral-50  selection:bg-slate-900/40;
}

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

img {
  -webkit-user-select: none !important; /* Chrome 49+ */
  -moz-user-select: none !important; /* Firefox 43+ */
  -ms-user-select: none !important; /* No support yet */
  user-select: none !important;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0 1rem 0 1rem;
  position: relative;
  word-break: keep-all;
  white-space: nowrap;
  cursor: pointer;
}
